<!-- {{ if .Site.Params.taxonomies.tags }}
{{ if isset .Site.Taxonomies "tags" }}
{{ if not (eq (len .Site.Taxonomies.tags) 0) }}
<div class="tags-widget widget">
    <h2>Tags</h2>
    <ul class="tags-list">
        {{ range $name, $items := .Site.Taxonomies.tags }}
        <li>
            {{ $url := printf "%s/%s" "tags" ($name | urlize | lower)}}
            <a href="{{ $url | absURL }}">
                {{ $name }}
            </a>
            <span>{{ len $items }}</span>
        </li>
        {{ end }}
    </ul>
</div>
{{ end }}
{{ end }}
{{ end }} -->

{{ if .Params.tags }}
<div class="tags-widget widget">
  <h2>Tags</h2>
  <ul class="tags-list">
    {{ range .Params.tags }}
    <li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
    {{ end }}
  </ul>
</div>
{{ end }}