{{ define "main" }}

<!-- page-banner-section 
================================================== -->
<section class="page-banner-section">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-12">
        <h2>{{ .Title }}</h2>
      </div>
    </div>
  </div>
</section>
<!-- End page-banner section --> 

<!-- about section 
          ================================================== -->
<section>
  <div class="container">
    <div class="row mt-50">
      <div class="col-md-6">
        <div class="sec-title style-2 mb-20">
          <h2 class="no-margin">About our<span> company</span> </h2>
        </div>
        {{ .Content }}
      </div>
      <div class="col-md-6">
        {{ with .Params.featured_image }}
        <img src="{{ . }}" alt="{{ with $.Page.Params.title }}{{ . }}{{ end }}">
        {{ end }}
      </div>
    </div>
  </div>
</section>
<!-- End about section --> 
<!-- about section 
          ================================================== --> 
<!-- End services-offer section -->
<section class="about-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 who-content">
        <div class="we_are_deatails ">
          <div class="sec-title style-2 mb-20">
          <h2>Why choose us</h2>
          </div>
    
          <h3>Why choose WCRTS?</h3>
          <p>WCRTS is an affordable company that offers prices at a reasonable cost. WCRTS is all about the wants and needs of our customers. WCRTS is about making a difference in the lives of our clients and creating positive client relationships. We strive to make them happy and satisfied with our services. By providing excellent service, our clients want to come back more than once. They are happy with the quality of our work.</p>
          <!-- <div class="tl-spoiler col-md-6 pad0">
            <h6 class="ok-icon"> <i class="fa fa-check" aria-hidden="true"></i> &nbsp; &nbsp; Concept &nbsp; Design</h6>
          </div>
          <div class="tl-spoiler col-md-6 pad0">
            <h6 class="ok-icon"> <i class="fa fa-check" aria-hidden="true"></i> &nbsp; &nbsp; Budget Optimisation</h6>
          </div>
          <div class="tl-spoiler col-md-6 pad0">
            <h6 class="ok-icon"> <i class="fa fa-check" aria-hidden="true"></i> &nbsp; &nbsp; Different Sketches</h6>
          </div>
          <div class="tl-spoiler col-md-6 pad0">
            <h6 class="ok-icon"> <i class="fa fa-check" aria-hidden="true"></i> &nbsp; &nbsp; Unlimited Possibilities</h6>
          </div> -->
        </div>
      </div>
      <div class="col-md-6">
        {{ with .Params.featured_image_2 }}
        <img src="{{ . }}" alt="{{ with $.Page.Params.title }}{{ . }}{{ end }}">
        {{ end }}
      </div>
    </div>
  </div>
</section>
<!-- Contact Us 
================================================== -->
{{- partial "call-to-action/cta.html" . -}}

{{ end }}