{{ define "main" }}

<!-- page-banner-section 
================================================== -->
<section class="page-banner-section">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-12">
        <h2>{{ .Title }}</h2>
      </div>
    </div>
  </div>
</section>
<!-- End page-banner section --> 

<!-- contact section 
          ================================================== -->
<section class="contact-section">
  <div class="container">
    <div class="col-md-8 contact-content">
      <div class="sec-title style-2 mb-20">
        <h2 class="">Get a  <span> Quote</span> </h2>
      </div>
      {{ .Content }}
      <form id="contact-form" action="https://formspree.io/f/mvovzrdq" method="post">
          <div class="row">
            <div class="col-md-6">
              <input name="name" id="name" type="text" placeholder="Name" required="required">
            </div>
            <div class="col-md-6">
              <input name="mail" id="email" type="text" placeholder="Email" required="required">
            </div>
          </div>
          <textarea name="message" id="message" placeholder="Message" required="required"></textarea>
          <input type="submit" value="Send Message">
        </form>
    </div>
    <div class="col-md-4">
      <div class="contact-info contact-page-info">
        <h2>Contact Info</h2>
        <p>You can contact or visit us from: <br> Monday to Friday: 10:00am to 8pm</p>
        <ul class="information-list">
          <li><i class="fa fa-map-marker"></i><span class="address">Ottawa, Ontario,Canada</span></li>
          <li><i class="fa fa-phone"></i><a class="phone" href="tel:343-463-6466"><span class="phone">(343)463-6466</span></a></li>
          <li><i class="fa fa-envelope-o"></i><a href="#">wendell_louis@live.ca</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- End contact section --> 
<!-- map 
          ================================================== -->
<!-- <div id="map"></div> -->
<!-- map --> 
<!-- Buy Now 
          ================================================== -->

{{ end }}
