<!DOCTYPE html>
<html lang="en" class="no-js">
{{- partial "head.html" . -}}
<body class="style-2 style-5">
<!-- Container -->
{{- partial "header.html" . -}}
<main>
{{- block "main" . }}{{- end }}
</main>
{{- partial "footer.html" . -}}
<!-- End Container -->
<script type="text/javascript" src="/js/jquery.min.js"></script> 
<!-- Add fancyBox main JS and CSS files -->
<link rel="stylesheet" type="text/css" href="/js/jquery.fancybox.css" media="screen">
<script src="/js/jquery.fancybox.pack.js"></script> 
<script type="text/javascript" src="/js/jquery.migrate.js"></script> 
<script type="text/javascript" src="/js/jquery.bxslider.min.js"></script> 
<script type="text/javascript" src="/js/bootstrap.min.js"></script> 
<script type="text/javascript" src="/js/jquery.imagesloaded.min.js"></script> 
<script type="text/javascript" src="/js/jquery.isotope.min.js"></script> 
<!-- <script type="text/javascript" src="/js/plugins-scroll.js"></script> --> 
<script type="text/javascript" src="/js/owl.carousel.min.js"></script> 
<script type="text/javascript" src="/js/jquery.countTo.js"></script> 
<!-- SLIDER REVOLUTION 4.x SCRIPTS  --> 
<script type="text/javascript" src="/js/jquery.themepunch.tools.min.js"></script> 
<script type="text/javascript" src="/js/jquery.themepunch.revolution.min.js"></script> 
<!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBy_G7074XW5xIyS9UoP9VtalZ0O1ZJoko"></script>  -->
<!-- <script type="text/javascript" src="/js/gmap3.min.js"></script> --> 
<script type="text/javascript" src="/js/extensions/revolution.extension.video.min.js"></script>
<script type="text/javascript" src="/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="/js/extensions/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript" src="/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="/js/extensions/revolution.extension.migration.min.js"></script>
<script type="text/javascript" src="/js/extensions/revolution.extension.parallax.min.js"></script>
<script type="text/javascript" src="/js/script.js"></script>
<!-- Revolution slider -->
</body>
</html>