<!-- footer 
================================================== -->
<footer>
  <div class="up-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="footer-widget">
            <h2>About Us</h2>
            <p>WCRTS is short for Wendell’s Computer Repair Training and Web Services (WCRTS) in Ottawa, ON.</p>
            <ul class="social-links social-links_mod-a list-inline">
              <li><a target="_facebook" class="facebook" href="https://www.facebook.com/Computer-Repair-Training-Services-and-Designing-Services-338753946461011"><i class="fa fa-facebook"></i></a></li>
              <li><a target="_instagram" class="instagram" href="https://www.instagram.com/wennyboy123/"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="footer-widget">
            <h2>Our Services</h2>
            <ul class="link-list">
              <li>Computer Training</li>
              <li>Computer Repair</li>
              <li>Web Design Service</li>
              <li>In Home Tech Services</li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="footer-widget">
            <h2>Quick Links</h2>
            <ul class="link-list">
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/services">Services</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="footer-widget info-widget">
            <h2>Info</h2>
            <!-- <p class="first-par">You can contact us during our working time.</p> -->
            <p><a href="tel:343-204-9513"><span>Tel: </span>(343)204-9513</a></p>
            <p><span>Email: </span> wendell_louis@live.ca</p>
            <p><span>Working Hours: </span> 10:00am to  8pm</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class=" copyright">
    <div class="container ">
      <div class="center">
        <p class=""> &copy; Copyright WCRTS 2023</p>
      </div>
    </div>
  </div>
</footer>
<!-- End footer -->
