<!-- Header
================================================== -->
<header class="clearfix">
  <nav class="navbar navbar-default " role="navigation">
    <div class="top-line">
      <div class="container">
        <div class="row">
          <div class="col-md-7 pull-right text-right text-xs-center contact-info">
            <a class="telephone" href="tel:343-204-9513">
              <span>
                <span class="icon icon-Phone2"></span>
                Call: (343)204-9513
              </span>
            </a>
            <span><span class="icon icon-Mail"></span>
              wendell_louis@live.ca
            </span>
          </div>
          <div class="col-md-5 text-xs-center">
            <ul class="social-icons">
              <li><a target="_facebook" class="facebook" href="https://www.facebook.com/Computer-Repair-Training-Services-and-Designing-Services-338753946461011"><i class="fa fa-facebook"></i></a></li>
              <li><a target="_instagram" class="instagram" href="https://www.instagram.com/wennyboy123/"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
      </div></div>
    </div>
    <div class="container"> 
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <!-- <a class="navbar-brand" href="index.html"><img src="images/logo-dark.png" alt=""></a> -->
        <h2><a class="navbar-brand" href="/">WCRTS</a></h2>
      </div>
      
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">Home</a> </li>
          <li><a href="/about">About</a> </li>
          <li class="drop"><a  href="/services">Services</a>
          </li>
          <!--<li class="drop"><a href="/blog">Blog</a>-->
          </li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse --> 
    </div>
    <!-- /.container --> 
  </nav>
</header>
<!-- End Header -->  
