{{ define "main" }}

<!-- content
================================================== --> 
<!-- error-section 
================================================== -->
<section class="error-section error-page">
  <div class="error-content">
    <div class="container">
      <h1>oops! Page not found</h1>
      <p>Looks like you have entered a part of the website that doesn't exist or is no longer available. Please go back to the previous page.</p>
      <a href="/" class="button-one">Go Back</a>
    </div>
  </div>
</section>
<!-- End error section -->  
<!-- End content -->
{{- partial "call-to-action/cta.html" . -}}

{{ end }}