{{ define "main" }}

<section>
  <div class="container">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 video-box">
      <img src="upload/ottawa.jpg" alt="">
      </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="sec-title style-2 mb-20 mt-50">
        <h2>Welcome to WCRTS</h2>
      </div>
      <p>WCRTS short for Wendell’s Computer repair training (WCRTS) and web services in Ottawa.</p>
      <h3>Wendell’s Computer Repair Training <br> and Web Services</h3>
      {{ with $.Site.GetPage "page" "services.md" }}
      {{ .Content }}
      {{ end }}
      <ul class="room-amount text-center clearfix">
      </ul>
    </div>
  </div>
</section>
<!-- services section 
================================================== -->

{{ with $.Site.GetPage "page" "services.md" }}
<section class="service-section">
  <div class="container">
    <div class="services-content">
      <div class="sec-title style-2 mb-20">
        <h2 class="">Our  <span> Services</span> </h2>
      </div>
      {{ .Content }}
    </div>
    <div class="row">
      <div class="mb-0 service-icon col-md-3">
        {{ with .Params.computer_training_image }}
        <img class="img-full service-img" src="{{ . }}" alt="{{ with $.Page.Params.title }}{{ . }}{{ end }}">
        {{ end }}
        <h3>Computer Coaching</h3>
        <p>WCRTS has a knowledgeable instructor which will provide you affordable computer training mentorship, one to one, so you will get the assistance you need.</p>
      </div>
      <div class="mb-0 service-icon col-md-3">
        {{ with .Params.computer_repair_image }}
        <img class="img-full service-img" src="{{ . }}" alt="{{ with $.Page.Params.title }}{{ . }}{{ end }}">
        {{ end }}
        <h3>Computer Repair</h3>
        <p>Having problems  to figure out what’s wrong with your computer? WCRTS can diagnose it and fix your computer at an affordable price, relieving your hardware worries.</p>
      </div>
       <div class="mb-0 service-icon col-md-3">
        {{ with .Params.web_design_image }}
        <img class="img-full service-img" src="{{ . }}" alt="{{ with $.Page.Params.title }}{{ . }}{{ end }}">
        {{ end }} 
        <h3>Web Design</h3>
        <p>Need a simple web presence to showcase your business online? WCRTS provides web design services that will assist your business to be found on the web.</p>
      </div>
      <div class="mb-0 service-icon col-md-3">
        {{ with .Params.tech_service_image }}
        <img class="img-full service-img" src="{{ . }}" alt="{{ with $.Page.Params.title }}{{ . }}{{ end }}">
        {{ end }}
        <h3> Off Site Services</h3>
        <p>Sales and support provides you the ability to either buy or sell new and used laptops or desktop computers. You can buy or sell all types of electronic devices.</p>
      </div>
    </div>
  </div>
</section>
{{end}}
<!-- End team section -->

<section class="help-block text-center help-block-bg">
<div class="container">
  <div class="row">
   <h2 class="cta">Get your computer repaired</h2>
   <h2><a href="tel:(343)-204-9513">Call: (343)204-9513</a></h2>
   <a href="/contact" class="btn btn-theme button-one">Contact us</a>
  </div>
  <!-- End row --> 
</div>
<!-- End container --> 
</section>

<section class="why-choose">
<div class="container">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <div class="col-md-12">
    <div class="sec-title style-2 mb-20">
      <h2 class="">Why choose us?</h2>
    </div>
    <h3>Why choose WCRTS?</h3>
    <p class="mb-30">WCRTS is an affordable company that offers prices at a reasonable cost. WCRTS is all about the wants and needs of our customers. WCRTS is about making a difference in the lives of our clients and creating positive client relationships. We strive to make them happy and satisfied with our services. By providing excellent service, our clients want to come back more than once. They are happy with the quality of our work.</p>
  </div>
    <!-- <div class="col-md-12 margin-bottom-30 animate fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
      <div class="icon-box ib-style-3 ib-bordered ib-bordered-thin ib-bordered-white ib-large ib-circle">
        <div class="ib-icon"> <img src="images/wallet.jpg" alt=""> </div>
        <div class="ib-info">
          <h4 class="h6">Free Estimate</h4>
          <p> random text.</p>
        </div>
      </div>
    </div>
    <div class="col-md-12 margin-bottom-30 animate fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
      <div class="icon-box ib-style-3 ib-bordered ib-bordered-thin ib-bordered-white ib-large ib-circle">
        <div class="ib-icon"> <img src="images/24x7.jpg" alt=""> </div>
        <div class="ib-info">
          <h4 class="h6">7 Days a week  Services</h4>
          <p> random text.</p>
        </div>
      </div>
    </div>
    <div class="col-md-12 margin-bottom-30 animate fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
      <div class="icon-box ib-style-3 ib-bordered ib-bordered-thin ib-bordered-white ib-large ib-circle">
        <div class="ib-icon"> <img src="images/price.jpg" alt=""> </div>
        <div class="ib-info">
          <h4 class="h6">Flat Rate Fees</h4>
          <p> random text.</p>
        </div>
      </div>
    </div> -->
  </div>
  <div class="col-lg-5 col-md-5 col-sm-5 col-md-offset-1 col-xs-12 video-box">
    <div class="cta-form ">
      <div class="cta cta-2 bg-theme">
          <div class="cta-desc">
              <h5>Request A Quote</h5>
          </div>
      </div><!-- .cta-2 end -->

      <div class="form">
          <form id="quote-form" action="https://formspree.io/f/mvovzrdq" method="post">
          <div class="col-md-12">
            <input class="form-control" name="name" id="name" type="text" placeholder="Name" required="required">
          </div>
          <div class="col-md-12">
            <input class="form-control" name="mail" id="email" type="text" placeholder="Email" required="required">
          </div>
          <div class="col-md-12">
            <textarea class="form-control" name="message" id="message" placeholder="Message" rows="2" required="required"></textarea>
          </div>
          <div class="col-md-12">
            <button type="submit" class="btn btn-primary btn-black btn-block">Submit Inquiry</button>
          </div>
          </form>
      </div>
    </div>
  </div>
</div>
</section>
<!--
<section class="testimonial-section">
<div class="container">
  <div class="col-md-12">
    <div class="project-title title">
      <h3 class="testimonial-title">What people say?</h3> -->
      <!-- <h2 class="box-header">TESTIMONIALS</h2> -->
    <!-- </div>
    <div class="testimonial-box">
      <ul class="bxslider">
        <li>
          <h4>Example 1.</h4>
          <h2>John Smith</h2>
          <span>Chief Director</span>
        </li>
        <li>
          <h4>Example 2 . </h4>
          <h2>Example 3</h2>
          <span>Project Menager</span>
        </li>
        <li>
          <h4>Example 4 . </h4>
          <h2>Example 5</h2>
          <span>Electricity Engineer</span>
        </li>
      </ul>
    </div>
  </div>
</div>
</section> -->
<!-- End testimonial section -->
<!--
<section class="news-section news-section-home">
<div class="container">
    <div class="sec-title style-2 mb-20">
      <h2 class="">Latest  <span> News</span> </h2>
    <p class="mb-30">Explore our blog that covers topics relating to: computer repair, electronics, and hardware.</p>
  </div>
  <div class="news-box">
    <div class="row">
      {{ range first 3 .Paginator.Pages }}
      <article class="col-md-4 col-sm-6">
        <div class="news-post">
          <div>
            <div class="img-box">
              {{ with .Params.featured_image }}
              <img src="{{ . }}" alt="{{ with $.Page.Params.title }}{{ . }}{{ end }}">
              {{ end }}
              <div class="img-caption">
                <div class="box-holder"></div>
              </div>
            </div>
          </div>
          <div class="post-content-text">
            <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
            <ul class="blog_infos nav">
              <li><a href="#"><i class="fa fa-calendar"></i>{{ dateFormat "Monday, Jan 2, 2006" .Date }}</a></li>
              <li><a href="#"><i class="fa fa-comment"></i>Comments</a></li>
            </ul>
            <p>{{ .Summary }}</p>
            <a class="btn readmore" href="{{ .RelPermalink }}">read more</a> </div>
        </div>
      </article>
      {{ end }}
    </div>
  </div>
</div>
</section>-->

<!-- End container -->
<!-- Get in Touch 
================================================== -->
{{- partial "call-to-action/cta.html" . -}}

{{ end }}
